    {{>header}}

<div class="content">
    <p>Use this to search the weather</p>
    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>

    <p id="forcast"> </p>
    <p id="location"> </p>
    {{!-- <h1>{{forcast}}</h1>
    <p>{{location}}</p> --}}
</div>
<script src="/js/app.js"></script>

{{>footer}}